[package]
name = "faktory"
version = "0.12.0"
authors = ["Jon Gjengset <jon@thesquareplanet.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"

readme = "README.md"
description = "API bindings for the language-agnostic Faktory work server"
repository = "https://github.com/jonhoo/faktory-rs.git"

keywords = ["faktory", "api-bindings", "work-server", "job-server"]
categories = ["api-bindings", "asynchronous", "network-programming"]

[features]
default = []
tls = ["native-tls"]
binaries = ["clap"]

[dependencies]
serde_json = "1.0"
serde_derive = "1.0"
serde = "1.0"
bufstream = "0.1"
sha2 = "0.10.0"
hostname = "0.3"
libc = "0.2"
rand = "0.8"
chrono = { version = "0.4", features = ["serde", "clock"], default-features = false }
url = "2"
atomic-option = "0.1"
fnv = "1.0.3"
native-tls = { version = "0.2", optional = true }
clap = { version = "3", optional = true }
thiserror = "1.0.30"

[dev-dependencies]
mockstream = "0.0.3"

[[bin]]
name = "loadtest"
path = "src/bin/loadtest.rs"
required-features = ["binaries"]
